@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <br />
    <p> 
    <h1>We are here to create a perfect memory for you </h1>
    </p>
    <br />
    <br />
    <img src="images/pagprincipala.png" alt="Sample Photo" border-radius = "20px" ; width="900px" />
   
</div>
